@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0;
}
/* h1
{
    text-align: center;
    vertical-align: auto;
} */
.popupContainer table {
    border: 1px;
    border-collapse: collapse;
}
.popupContainer caption {
    position: absolute;
    left: 9999em;
}
/* body {
    font-family: "맑은고딕", "나눔고딕", "sans-serif";
    font-size: 16px;
    color: #333;

} */
.popupContainer #join_wrap {
    padding: 10px 10px 10px 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #FFDC00;
}
.popupContainer #join_wrap .title {
    padding: 10px 0 20px;
    font-size: 20px;
    font-weight: 700;
}
.popupContainer .joinTable th, .joinTable td {
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 0px solid #ddd;
}
.popupContainer .joinTable th {
    width: 160px;
    text-align: left;
    background-color: transparent;
}
.popupContainer .joinTable td {
    width: 100px;
}
.popupContainer .joinTable .textFormfirst {
    width: 215px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
}
.popupContainer .joinTable .textForm {
    width: 300px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
}
#user_pwd, #user_pwd2 {
    width: 300px !important;
    height: 30px !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
}
.popupContainer select {
    width: 300px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
/*중복확인*/
.popupContainer .joinTable .btn {
    width: 80px;
    height: 30px;
    background-color: #333;
    border: 0;
    border-radius: 5px;
    color: #FEE500;
}

/*텍스트에리어*/
.popupContainer .joinTable .textarea {
    width: 300px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    /* 테두리의 두께를 포함한 크기를 지정 */
}
/* 버튼 */
.popupContainer .btn_area {
    text-align: center;
    margin: 30px 0;
}
.popupContainer .btn_area button {
    width: 150px;
    height: 60px;
    margin: 0 10px;
    border: 0;
    font-size: 20px;
    border-radius: 5px;
}
.popupContainer .btn_area .btn_join {
    background-color: #333;
    color: #FEE500;
    border-radius: 5px;
}