@charset "utf-8";

/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* 레이어 팝업 스타일 */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/*=================================================*/

#popupContainer table {
    border: 1px;
    border-collapse: collapse;
    font-style: color:#333;
}
#popupContainer caption {
    position: absolute;
    left: 9999em;
}

#popupContainer #join_wrap {
    padding: 10px 10px 10px 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #FFDC00;
}
#popupContainer #join_wrap .title {
    padding: 0 auto;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
}
#popupContainer .joinTable th, .joinTable td {
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 0px solid #ddd;
}
#popupContainer .joinTable th {
    width: 150px;
    text-align: left;
    background-color:;
}
#popupContainer .joinTable td {
    width: 150px;
}
#popupContainer .joinTable .textFormfirst {
    width: 210px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
}
#popupContainer .joinTable .textForm {
    width: 300px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
#popupContainer select {
    width: 300px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
/*중복확인*/
#popupContainer .joinTable .btn {
    width: 80px;
    height: 30px;
    background-color: #333;
    border: 0;
    border-radius: 5px;
    color: #FEE500;
}

/*텍스트에리어*/
#popupContainer .joinTable .textarea {
    width: 300px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    /* 테두리의 두께를 포함한 크기를 지정 */
}
/* 버튼 */
#popupContainer .btn_area {
    text-align: center;
    margin: 30px 0;
}
#popupContainer .btn_area button {
    width: 150px;
    height: 60px;
    margin: 0px auto;
    border: 0;
    font-size: 20px;
    border-radius: 5px;
}
#popupContainer .btn_area .btn_join {
    background-color: #333;
    color: #FEE500;
    border-radius: 5px;
}