.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 70px;
}

.success-box {
    background-color: #FFDC00;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.success-box h2 {
    margin: 20px 0;
    color: #333;
    font-size: 24px;
}

.success-box p {
    margin-bottom: 30px;
    color: #666;
    font-size: 18px;
}
